{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="screen">
</head>
<body>
    <div class="fondo">

        <form action="{% url 'inicio' %}" class="form-login">
            <h5>Ingresa a tu cuenta</h5>
            <input class="controls" type="text" name="rut" value="" placeholder="Rut">
            <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
            <input class="buttons" type="submit"  value="Ingresar" >
           
            <p><a href="#">Olvidaste tu contraseña?</a></p>
            <a href="#">Eres Nuevo? Registrate</a>
        </form>
    </div>
</body>
</html>